
header {
    height: 79px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav {
    align-self: baseline;
}

.menu {
    display: flex;
    flex-direction: row;
    align-self: baseline;
    gap: 20px;
}

.menu li {
    list-style-type: none ;  
}

.menuLink {
    padding-top: 22px;
}

.menuLink:hover {
    color: #0065FC;
    border-top: #0065FC solid 2px;
}

.logo {
    width: 61.09px;
    height: 19px;

}